node_modules
.next
out
build
.DS_Store
*.pem
npm-debug.log*
.env*
!.env.example
next-env.d.ts
.vercel
*.tsbuildinfo
/public/maplibre-gl-worker.mjs
/public/maplibre-gl-shared.mjs
/public/HopHacksHackathon-latest.tar.gz
HopHacksHackathon-latest.tar.gz
/public/waterflow-latest.tar.gz
waterflow-latest.tar.gz
